html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

img, iframe {
  border: 0; }

html {
  /* Nicer looking fonts for OS X and iOS */
  -webkit-font-smoothing: antialiased;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6,
p,
hr,
table,
pre,
ol, ul,
dt, dd {
  margin: 1.2em 0 0.6em;
  font-weight: normal; }

dd {
  font-size: 0.9em;
  margin-top: 0;
  padding-left: 1.2em; }

ul, ol {
  padding-left: 1.2em; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.6em;
  font-weight: bold; }

nav > ul {
  list-style: none; }

header {
  font-size: 1.2em; }
  header > nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em; }

footer {
  font-size: 0.9em; }

blockquote {
  font-size: 1.2em; }

dt {
  font-weight: bold; }

hr {
  border: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1); }

header,
main,
footer {
  margin: 0;
  padding: 2rem; }

header {
  padding: 0.1px 2rem 0.1px;
  text-align: center; }
  header > nav {
    width: 100vw;
    margin-left: -2rem;
    padding: 0.2em 0; }
    header > nav > ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0; }
      header > nav > ul > li {
        margin: 0 0.6em; }

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center; }
  footer > nav > ul {
    list-style: none; }

html {
  color: rgba(0, 0, 0, 0.8); }

h1, h2, h3, h4, h5, h6,
p,
ol, ul {
  color: rgba(0, 0, 0, 0.8); }

a {
  color: inherit; }
  a:hover {
    opacity: 0.6; }

pre {
  padding: 0.6em;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 0.2em; }

header {
  background-color: rgba(0, 0, 0, 0.8); }
  header * {
    color: rgba(255, 255, 255, 0.9); }
  header > nav {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-width: 1px 0; }
    header > nav > ul {
      color: rgba(255, 255, 255, 0.9); }

main {
  background-color: rgba(255, 255, 255, 0.9); }

footer {
  background-color: rgba(0, 0, 0, 0.5); }
  footer * {
    color: rgba(255, 255, 255, 0.9); }
