<article>
<p>Front end web development has become quite complex. The exponential growth of tooling options is undeniably a <strong>Good Thing</strong> but now we as developers need to take a step back. We need to evaluate our needs with a sober un-biased eye. We have proven that we can build highly complex apps and we now must challenge ourselves to build the simplest apps possible.</p>

<p>The Organic Web philosophy proposes that we <strong>know the ingredients</strong> in our apps. If it does not have a clear and compelling purpose, it's probably not healthy.</p>

<p>Web standards make our lives easier. Apps that follow and embrace web standards are <strong>future-proof</strong> and <strong>lovely to work on</strong>. Think very carefully whether the job at hand can be done using a standards-compliant technique, before relying on a third-party library to handle the task.</p>

<p>When writing custom code or employing third-party libraries, strive to code with <strong>the utmost clarity</strong>. Code should be parseable and understandable at a glance. Not only will this make maintenance easier but it will encourage you to make logical choices during the development process.</p>
</article>

<%= partial "steps" %>

<article>
	<h1>Tools/Resources</h1>
	<ul>
		<li><a href="https://www.w3.org/">w3</a></li>
		<li><a href="https://developer.mozilla.org/en-US/">mdn</a></li>
		<li><a href="https://caniuse.com/">caniuse</a></li>
		<li><a href="http://youmightnotneedjquery.com/">ymnnj</a></li>
		<li><a href="https://gitlab.com/organic-web/no-css">nocss</a></li>
	</ul>
	<p><em>Check back here as more tools and resources are added, and/or make <a href="https://gitlab.com/organic-web/organic-web.gitlab.io/issues">suggestions</a>!</em></p>
</article>

<hr>

<article>
	<h1>Complementary Philosophies</h2>
	<ul>
		<li><a href="https://12factor.net/">12factor</a></li>
		<li><a href="https://en.wikipedia.org/wiki/Unix_philosophy">The UNIX Philosophy</a></li>
		<li><a href="https://en.wikipedia.org/wiki/Extreme_programming">Extreme Programming</a></li>
		<li><a href="#"></a></li>
	</ul>
</article>
